@{
  Layout = "_Layout";
}
@using Factory.Models;

<header>
  <h2>MACHINES</h2>
</header>
<main>
  @if (@Model.Count == 0)
  {
    <span>THERE AREN'T ANY</span>
  }
  <ul>
    @foreach (Machine c in Model)
    {
      <li>@Html.ActionLink($"{c.Name}", "Details", new {id = c.MachineId})</li>
    }
  </ul>
</main>
<footer>
  <p>@Html.ActionLink("NEW MACHINE", "Create")</p>
  <p>@Html.ActionLink("BACK", "Index", "Home")</p>
</footer>