@{
  Layout = "_Layout";
}

<header>
  <h1>
    <span>WELCOME</span>
    <span>TO</span>
    <span>FACTORY</span>
  </h1>
</header>
<nav>
  @Html.ActionLink("ENGINEERS", "Index", "Engineers")
  @Html.ActionLink("MACHINES", "Index", "Machines")
</nav>